<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/brands.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
    <ul class="menu">
      <li id="main-logo"><a href="/"><img src="/img/logo.png"></a></li>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <ul class="social">
      <li><a href="https://www.youtube.com/channel/UCs9PKjwTrlrN8Jfxq0IlG6Q"><i class="fa-brands fa-youtube-square"></i></a></li>
      <li><a href="https://twitter.com/SEEDS_Energy"><i class="fa-brands fa-twitter-square"></i></a></li>
    </ul>
    </nav>
