body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.8em;
  background: #f8f8f8;
  color: #222222;
}

nav {
  margin-bottom: 40px;
}

li#main-logo a:link, li#main-logo a:visited, li#main-logo  a:hover {
  background: none;
  padding-bottom: 0;
  padding-left: 0;
}

#main-logo img {
  max-width: 80px;
  padding-top: -40px;
}

.menu {
  display: inline-block;
  padding: 0;
}
.menu li {
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
.menu li a:link, .menu li a:visited {
  padding: 10px 15px;
  text-decoration: none;
  background: #355b91;
  color: #ffffff;
  border-bottom: none;
}

.menu li a:hover {
  background: #48515e;
}

i.fa-brands {font-style: normal;}

@media (min-width: 690px) {
  .social {
    float: right;
  }
}

.social {
  display: inline-block;
  padding: 0;
  margin-top: 40px;
  font-size: 32px;
}
.social li {
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
.social li a:link, .social li a:visited {
  padding: 5px;
  text-decoration: none;
  color: #355b91;
  border-bottom: none;
}

.social li a:hover {
  color: #48515e;
}


.article-meta {
  text-decoration: none;
}

.title { font-size: 1.1em; }
footer a { text-decoration: none; }

footer {
  margin-top: 50px;
  color: #666;
  font-size: 0.9em;
}

hr {
  border: 1px solid #ddd;
}

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }

table .logo-cell {
  width: 200px;
  height: 100px;
}

a:link, a:visited {
  color: #2e4463;
  text-decoration: none;
  border-bottom: 1px solid #2e4463;
}

a:hover {
  color: #355b91;
  text-decoration: none;
  border-bottom: 2px solid #2e4463;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: 0;
}

h1 {
  color: #2e4463;
  line-height: 1.2em;
}

.date {
  margin-top: -10px;
  color: #666;
}