body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.8em;
  background: #E5E8E4;
  color: #222222;
}

nav {
  margin-bottom: 40px;
}

.menu {
  padding: 0;
}
.menu li {
  display: inline-block;
  margin-right: 10px;
}
.menu li a:link, .menu li a:visited {
  padding: 10px 15px;
  text-decoration: none;
  background: #3c413b;
  color: #E5E8E4;
  border-bottom: none;
}

.menu li a:hover {
  background: #4b504b;
}

.article-meta {
  text-decoration: none;
}

.title { font-size: 1.1em; }
footer a { text-decoration: none; }

footer {
  margin-top: 50px;
  color: #666;
  font-size: 0.9em;
}

hr {
  border: 1px solid #ddd;
}

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }

table .logo-cell {
  width: 200px;
  height: 100px;
}

a:link, a:visited {
  color: #386040;
  text-decoration: none;
  border-bottom: 1px solid #677f6b;
}

a:hover {
  color: #809284;
  text-decoration: none;
  border-bottom: 2px solid #677f6b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: 0;
}

h1 {
  color: #376040;
}

.date {
  margin-top: -10px;
  color: #666;
}